- if @message.password
  .hidden.params
    #password_presence
      = @message.password
      #encrypted_text
        = @message.encrypted_text
      #encrypted_text_iv
        = @message.encrypted_text_iv

  .message_password
    You need to enter password to see this message
    %form#password_form
      %label{ for: 'password_id' }
        Password
      %input#password_id{ type: 'password' }
      %input{ type:'submit', value: 'Submit' }

.message
  %h2 Message is:
  %br
  .text_output
    - unless @message.password
      = @message.text
